@import "../partials/_variables.scss";

.button {
  display: inline-block;
  width: 280px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #e5ddd5;

  &--small {
    width: 160px;
  }

  &__wrap {
    display: table;
    margin: 0 auto;
  }
}
