@import "../partials/_variables.scss";
.news {
  margin: 0 auto;
  margin-top: -28px;
  padding-top: 60px;
  padding-bottom: 28px;
  width: 320px;
  background: #fff;

  @media screen and (min-width: $md) {
    position: relative;
    margin-top: 0;
  }

  &__wrapper {
    @media screen and (max-width: $md) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "news-title"
                            "news-list"
                            "news-button";
    }
  }
}

.news__title {
  grid-area: news-title;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.news__list {
  grid-area: news-list;
}

.news__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.news__text {
  margin-top: 0;
  width: 210px;
}

.news__time {
  position: relative;
  top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: $white-color;
  background: #000;

  &::after {
    content: '';
    position: absolute;
    bottom: -35px;
    border: 25px solid transparent;
    border-top-width: 10px;
    border-top-color: #000;
  }
  span {
    margin: 0;
    line-height: 0.8;
  }

  .news__button {
    grid-area: news-button;
  }
}
