@import '../partials/variables';

.page-header {
  display: flex;
  flex-direction: column;

}

.page-header__logo {
  background: $black-lighter-color;
  padding: 29px 50px;
}

.main-nav {
  &__hidden {
    background: $accent-color;
    color: $white-color;
    font-size: $regular-size;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }

  &__toggle {
    background: $accent-dark-color;
    position: absolute;
    right: 0;
    top: 0;
  }
}

