@import "../partials/_variables.less";

.advantages {
  position: relative;
  margin: 0 auto;
  width: 320px;
  color: @white-color;
  background: @black-lighter-color;

  &::after {
    content: '';
    position: absolute;
    bottom: -68px;
    left: 0;
    right: 0;
    display: block;
    height: 0;
    border: 34px solid transparent;
    border-top-color: @black-lighter-color;
    border-left-width: 160px;
    border-right-width: 160px;
  }
}



