@import "../partials/_variables.less";

.page-header {
  display: flex;
  flex-direction: column;

  &__logo {
    background: @black-lighter-color;
    padding: 29px 50px;
    text-align: center;
    @media screen and (min-width: @md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 57px;
      height: 397px;
      text-align: center;
      background: #000 url("../i/header-bg.jpg") no-repeat center;
      background-size: cover;
      order: 2;
    }
    @media screen and (min-width: @xl) {
      height: 648px;
    }
    img:first-child {
      display: none;
      @media screen and (min-width: @md) {
        display: inline-block;
        margin-bottom: 16px;
      }
    }
    img:nth-child(2) {
      @media screen and (min-width: @md) {
        width: 376px;
        height: auto;
      }
    }
    img:last-child {
      display: none;
    }
  }
}
