section.page-form
  .container
    header.page-form__header.section-header
      h3.page-form__title.section-header__title Запись на стрижку
      a.page-form__button.button.section-header__button(href="index.html") На главную

    form.page-form__form
      .page-form__group
        input(type="text" placeholder="Имя")
        input(type="text" placeholder="Фамилия")
        input(type="text" placeholder="Отчество")

      .page-form__group
        input(type="phone" placeholder="Контактный телефон")
        input(type="email" placeholder="Контактный e-mail")

      textarea(name="message", cols="30", rows="10") Доп. информация для мастера
//section.page-form
