section.services-section
  .container
    header.form-section__header
      h3.form-section__title Дополнительные услуги:

    .services-section__wrap
      .services-section__item
        input(type="checkbox" checked="checked").services-section__checkbox
        label.services-section__label Подкрасить бороду

      .services-section__item
        input(type="checkbox").services-section__checkbox
        label.services-section__label Причесать бороду

      .services-section__item
        input(type="checkbox").services-section__checkbox
        label.services-section__label Убрать седину

      .services-section__item
        input(type="checkbox" checked="checked").services-section__checkbox
        label.services-section__label Накрутить усы

      .services-section__item
        input(type="checkbox").services-section__checkbox
        label.services-section__label Подровнять усы

      .services-section__item
        input(type="checkbox").services-section__checkbox
        label.services-section__label Отполировать лысину

    button.page-form__submit.button Отправить заявку
//section.form-section
