$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$accent-color: #826550;
$accent-dark-color: #6a4d38;
$black-color: #000;
$black-lighter-color: #242424;
$white-color: #fff;
$white-darken-color: #f7f4f1;
$gray-color: #404040;
$gray-light-color: #4e4e4e;

$text-color: $black-color;
$body-bg: $white;
