// @import "../libs/reset.scss/reset.scss"
@import 'partials/_fonts.scss';
@import 'partials/_variables.scss';
@import 'partials/_mixins.scss';


body {
  background:$body-bg;
  color: $text-color;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  display: none;
  white-space: normal;
  border: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/site-list.less";
@import "blocks/user-list.less";
@import "blocks/stats.less";
@import "blocks/advantages.less";
